*{
    margin:0;
    padding: 0;
}

body {
    background: rgb(19, 19, 19);
    overflow: hidden;
    color: white;
}

@font-face {
    font-family: 'BBH';
    src: url(./BBHSansHegarty-Regular.ttf);
}



.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding:10px;
    align-items: center;
}

.header img {
    width: 100vw;
    height: 100vh;
    filter: blur(15px);
    position: absolute;
    z-index: -10;
}

.header button {
    width:10vw;
    height: 7vh;
    border-radius: 5vw;
    border: none;
    background: rgb(160, 4, 160);
    color: white;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    transition: transform 0.2s, opacity 0.2s;
}

.header button:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.header span:nth-of-type(1) {
    margin: 0;
    padding: 0;
    line-height: 4vw;
}

.header h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 7vw;
}

.header p:nth-of-type(1) {
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: 600;
}

.header p:nth-of-type(2) {
    font-family: sans-serif;
    font-size: 1vw;
}

span:nth-of-type(2) h5 {
    font-family: sans-serif;
    font-size: 0.8vw;
    text-align: center;
}

span:nth-of-type(2) {
    line-height: 1.6vw;
}